<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project management :: Jacquard in the Fablab</title>
<style>
    img{ width: 75%}
</style>
</head>

    <nav>
    <ul>
    
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/">Home</a></li>
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/about">About</a></li>
       

       
        
        <li>Final Project
             <ul>
                
                     <li><a href="/digital-fabrication/final-project/jacquard/">Final Project</a></li>
                
                     <li><a href="/digital-fabrication/final-project/history/">History</a></li>
                
           </ul>
        </li>
        

        

        
        <li>Assignements
            <ul>
                
                    <li><a href="/digital-fabrication/assignements/computer-aided-design/">Computer aided design</a></li>
                
                    <li><a href="/digital-fabrication/assignements/project-management/">Project management</a></li>
                
            </ul>
        </li>
        



        
        <li>Diary
             <ul>
                
                     <li><a href="/digital-fabrication/diary/first-steps/">First steps</a></li>
                
                     <li><a href="/digital-fabrication/diary/travel-mechanics/">Travel of the Jacquard Mechanic machine</a></li>
                
           </ul>
        </li>
        


    </ul>
</nav>



 

    <h1>Project management</h1>
    
    <h1 id="week-one">Week One</h1>
<h2 id="installing-the-tools">Installing the tools</h2>
<h3 id="git">Git</h3>
<p><a href="https://git-scm.com/download/win">Installing Git</a></p>
<p><a href="https://git-scm.com/book/en/v2/Getting-Started-First-Time-Git-Setup">How to get started on Github</a></p>
<p>On windows the home directory is by default <strong>C:\Users\USER</strong></p>
<hr>
<p>Run the <strong>Git config</strong> command</p>
<blockquote>
<p><strong>$ git config &ndash;global user.name &ldquo;John Doe&rdquo;</strong></p>
</blockquote>
<blockquote>
<p><strong>$ git config &ndash;global user.email <a href="mailto:johndoe@example.com">johndoe@example.com</a></strong></p>
</blockquote>
<hr>
<h2 id="basic-commands">Basic commands</h2>
<h3 id="git-init">git init</h3>
<p>&ldquo;git init turns any directory into a Git repository.</p>
<p>What Does git init Do?
git init is one way to start a new project with Git.</p>
<p>To initialize a repository, Git creates a hidden directory called .git. That directory stores all of the objects and refs that Git uses and creates as a part of your project&rsquo;s history. This hidden .git directory is what separates a regular directory from a Git repository.</p>
<p>Common usages and options for <strong>git init</strong></p>
<blockquote>
<p><strong>git init</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>Transform the current directory into a Git repository**</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git init directory</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>Transform a directory in the current path into a Git repository**</p>
</blockquote>
</blockquote>
</blockquote>
<p><em>Source (<a href="https://github.com/git-guides">https://github.com/git-guides</a>)</em></p>
<h3 id="git-add">git add</h3>
<p>The git add command adds new or changed files in your working directory to the Git <strong>staging area.</strong></p>
<p>Common usages and options for git add</p>
<blockquote>
<p><strong>git add <!-- raw HTML omitted --></strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>Stage a specific directory or file</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git add .</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>Stage all files (that are not listed in the .gitignore) in the entire repository</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git add filename/ filaname/ filename/</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>Stage a selection of multiple files</p>
</blockquote>
</blockquote>
</blockquote>
<p><em>Source (<a href="https://github.com/git-guides">https://github.com/git-guides</a>)</em></p>
<h3 id="git-commit">git commit</h3>
<p><strong>git commit</strong> creates a commit, which is like a snapshot of your repository. These commits are snapshots of your entire repository at specific times. You should make new commits often, based around logical units of change. Over time, commits should tell a story of the history of your repository and how it came to be the way that it currently is. Commits include lots of metadata in addition to the contents and message, like the author, timestamp, and more.</p>
<p>Common usages and options for Git Commit</p>
<blockquote>
<p><strong>git commit</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>This starts the commit process, but since it doesn&rsquo;t include a <strong>-m</strong> flag for the message, your default text editor will be opened for you to create the commit message.</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git commit -m &ldquo;descriptive commit message&rdquo;</strong>:</p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>This starts the commit process, and allows you to include the commit message at the same time.</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git commit -am &ldquo;descriptive commit message&rdquo;</strong></p>
</blockquote>
<blockquote>
<blockquote>
<blockquote>
<p>In addition to including the commit message, this option allows you to skip the staging phase. The addition of -a will automatically stage any files that are already being tracked by Git (changes to files that you&rsquo;ve committed before).</p>
</blockquote>
</blockquote>
</blockquote>
<p><em>Source (<a href="https://github.com/git-guides">https://github.com/git-guides</a>)</em></p>
<h3 id="git-status">git status</h3>
<p><strong>git status</strong> shows the current state of your Git working directory and staging area.
A useful feature of git status is that it will provide helpful information depending on your current situation. In general, you can count on it to tell you:</p>
<p>Where HEAD is pointing, whether that is a branch or a commit (this is where you are &ldquo;checked out&rdquo; to)
If you have any changed files in your current directory that have not yet been committed
If changed files are staged or not
If your current local branch is linked to a remote branch, then git status will tell you if your local branch is behind or ahead by any commits</p>
<p>Common usages and options for git status</p>
<blockquote>
<p><strong>git status</strong></p>
<blockquote>
<blockquote>
<p>Most often used in its default form, this shows a good base of information</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git status -s</strong></p>
<blockquote>
<blockquote>
<p>Give output in short format</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>git status -v</strong></p>
<blockquote>
<blockquote>
<p>Shows more &ldquo;verbose&rdquo; detail including the textual changes of any uncommitted files</p>
</blockquote>
</blockquote>
</blockquote>
<p><em>Source (<a href="https://github.com/git-guides/git-status">https://github.com/git-guides/git-status</a>)</em></p>

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe src="https://www.youtube.com/embed/GFyjlPa73xU" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="YouTube Video"></iframe>
</div>

<hr>
<h3 id="bash-basic-commands">Bash Basic commands</h3>
<h2 id="magick">Magick</h2>
<h3 id="commands">Commands</h3>
<blockquote>
<p><strong>magick -h</strong></p>
<blockquote>
<blockquote>
<p>for HELP section</p>
</blockquote>
</blockquote>
</blockquote>
<blockquote>
<p><strong>magick identify</strong></p>
<blockquote>
<blockquote>
<p>describe the format and characteristics of one or more image files.</p>
</blockquote>
</blockquote>
</blockquote>
<p><a href="https://imagemagick.org/script/command-line-tools.php">Here find all the available tools </a></p>
<blockquote>
<p><strong>magick convert</strong></p>
<blockquote>
<blockquote>
<p>Convert between image formats as well as resize an image, blur, crop, despeckle, dither, draw on, flip, join, re-sample, and much more.</p>
<blockquote>
<p>ex: magick convert imagename.jpg -resize 800x500 image_800x500.jpg</p>
</blockquote>
</blockquote>
</blockquote>
</blockquote>
<p>Here 4 sections of information
&ldquo;magic convert&rdquo; command
file name= imagename.jpg
-resize, then specify resizing size 800x500
specify new name of file= image_800x500.jpg</p>


<footer>
    <p>&copy Elise Piquemal 2023 till eternity</p>

</footer>
