<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About :: Jacquard in the Fablab</title>
<style>
    img{ width: 75%}
</style>
</head>

    <nav>
    <ul>
    
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/">Home</a></li>
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/about">About</a></li>
       

       
        
        <li>Final Project
             <ul>
                
                     <li><a href="/digital-fabrication/final-project/jacquard/">Final Project</a></li>
                
                     <li><a href="/digital-fabrication/final-project/history/">History</a></li>
                
           </ul>
        </li>
        

        

        
        <li>Assignements
            <ul>
                
                    <li><a href="/digital-fabrication/assignements/computer-aided-design/">Computer aided design</a></li>
                
                    <li><a href="/digital-fabrication/assignements/project-management/">Project management</a></li>
                
            </ul>
        </li>
        



        
        <li>Diary
             <ul>
                
                     <li><a href="/digital-fabrication/diary/first-steps/">First steps</a></li>
                
                     <li><a href="/digital-fabrication/diary/travel-mechanics/">Travel of the Jacquard Mechanic machine</a></li>
                
           </ul>
        </li>
        


    </ul>
</nav>



 

    <h1>About</h1>
    
    <p>Hi!</p>
<p>I am a professional silk weaver on a quest to regenerate my craft.</p>
<p><img src="weaving-velvet.jpg" alt="Weaving velvet"></p>
<p>I decided to pursue a Master’s degree in Contemporary Design to think about my practice and try to find solutions to support it. For a year at Aalto University, I dedicated myself to discovering other topics and expressing myself through “foreign” materials, to provoke an estrangement that would shift my perspective from the conventional track. Nurturing my intuitions on how to be a hand-weaver in the XXIth century.</p>
<p>This broader perspective guided me towards joining the Digital Fabrication Course to learn a whole new set of skills.</p>


<footer>
    <p>&copy Elise Piquemal 2023 till eternity</p>

</footer>
