<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History :: Jacquard in the Fablab</title>
<style>
    img{ width: 75%}
</style>
</head>

    <nav>
    <ul>
    
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/">Home</a></li>
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/about">About</a></li>
       

       
        
        <li>Final Project
             <ul>
                
                     <li><a href="/digital-fabrication/final-project/jacquard/">Final Project</a></li>
                
                     <li><a href="/digital-fabrication/final-project/history/">History</a></li>
                
           </ul>
        </li>
        

        

        
        <li>Assignements
            <ul>
                
                    <li><a href="/digital-fabrication/assignements/computer-aided-design/">Computer aided design</a></li>
                
                    <li><a href="/digital-fabrication/assignements/project-management/">Project management</a></li>
                
            </ul>
        </li>
        



        
        <li>Diary
             <ul>
                
                     <li><a href="/digital-fabrication/diary/first-steps/">First steps</a></li>
                
                     <li><a href="/digital-fabrication/diary/travel-mechanics/">Travel of the Jacquard Mechanic machine</a></li>
                
           </ul>
        </li>
        


    </ul>
</nav>



 

    <h1>History</h1>
    
    <p>Textile has been world the leading market guiding a global process of industrialization. Towards the XVIIIth and XIXth century Lyon’s region used to be the world reference for silk weaving. It underwent a fast decay with the advent of mechanization. Redering obsolete the need for hand-made complex fabrics.</p>
<p>In both resistance and cooperation towards the system that was about to cause their loss, The “Canuts”, Lyon’s independant silk weaver and workshop masters, were favoring virtuosity, developing their skills and tools further to push the boundaries of their craft. Educated, and politicized, “Canuts” were at the forefront of mutualism and republican spirit.</p>
<p>Nowadays, less than 10 hand-weavers mastering specific silk techniques are active in Europe. They are located in France and Italy. Most of them focus on historical reproductions and work on original XIXth looms with XXth century Jacquard mechanic machines.</p>
<p>I used to work for the last family owned silk Manufacture in Lyon: Prelle.</p>
<h2 id="standing-on-the-shoulders-of-giants">Standing on the shoulders of Giants</h2>
<p>From the 1970s, historical Lyon silk companies went bankrupt. The activity of hand-weaving already minor, permanently collapsed. The remaining workshops were dismantled and most of the looms and tools for hand-weaving were discarded. Some items could be left in museums.</p>
<p>Throughout the whole 20th century, thousands of hand looms have been thrown away, used as a wood fire, dismantled for metal parts, etc… To leave room for modern tools for industrial production.</p>
<p>sub-menus:</p>
<p>On mechanics,
On Joseph-Marie Jacquard,
On intellectual property,
On politics,
On Canuts,
On Music Machines,</p>


<footer>
    <p>&copy Elise Piquemal 2023 till eternity</p>

</footer>
