

    /* Set the margin on both sides of the content */
body {
  margin: 0 10%;
  background: rgb(227, 245, 255);
  line-height: 1.5;
}

/* Justify text on both sides */
p {
  text-align: justify;
  margin-bottom: 1.5em;
}



  img {
    display: block;
    margin: auto;
    max-width: 75%;
  }
  

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../fonts/Roboto-LightItalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff") format("woff");
}

/* Set default font family and size */
body {
  font-family: "Roboto-Light", sans-serif;
  font-size: 14px;
}

/* Headings */
h1 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 28px;
}

h2 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 24px;
}

h3 {
  text-indent: 5%;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 20px;
}

h4 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 17px;
}

/* Bold text */
strong {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: bold;
}

/* Italic text */
em {
  font-family: "Roboto-LightItalic", sans-serif;
  font-style: italic;
}


