<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    {{ if .Site.Params.customCSS }}
      <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/{{ .Site.Params.customCSS }}">
    {{ else }}
      <link rel="stylesheet" href="{{ .Site.BaseURL }}static/assets/style.css">
    {{ end }}
  </head>
  