<nav>
    <ul>
    
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}about">About</a></li>
       

       
        {{with .Site.GetPage "/final-project"}}
        <li>Final Project
             <ul>
                {{ range .Pages }}
                     <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
           </ul>
        </li>
        {{ end }}

        

        {{with .Site.GetPage "/assignements"}}
        <li>Assignements
            <ul>
                {{ range .Pages }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </li>
        {{ end }}



        {{with .Site.GetPage "/diary"}}
        <li>Diary
             <ul>
                {{ range .Pages }}
                     <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
           </ul>
        </li>
        {{ end }}


    </ul>
</nav>



 