<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First steps :: Jacquard in the Fablab</title>
<style>
    img{ width: 75%}
</style>
</head>

    <nav>
    <ul>
    
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/">Home</a></li>
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/about">About</a></li>
       

       
        
        <li>Final Project
             <ul>
                
                     <li><a href="/digital-fabrication/final-project/jacquard/">Final Project</a></li>
                
                     <li><a href="/digital-fabrication/final-project/history/">History</a></li>
                
           </ul>
        </li>
        

        

        
        <li>Assignements
            <ul>
                
                    <li><a href="/digital-fabrication/assignements/computer-aided-design/">Computer aided design</a></li>
                
                    <li><a href="/digital-fabrication/assignements/project-management/">Project management</a></li>
                
            </ul>
        </li>
        



        
        <li>Diary
             <ul>
                
                     <li><a href="/digital-fabrication/diary/first-steps/">First steps</a></li>
                
                     <li><a href="/digital-fabrication/diary/travel-mechanics/">Travel of the Jacquard Mechanic machine</a></li>
                
           </ul>
        </li>
        


    </ul>
</nav>



 

    <h1>First steps</h1>
    
    <p>Here will be recorded the feelings from the 3 first week of this journey</p>


<footer>
    <p>&copy Elise Piquemal 2023 till eternity</p>

</footer>
