<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project :: Jacquard in the Fablab</title>
<style>
    img{ width: 75%}
</style>
</head>

    <nav>
    <ul>
    
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/">Home</a></li>
        <li><a href="https://elpiq.gitlab.io/digital-fabrication/about">About</a></li>
       

       
        
        <li>Final Project
             <ul>
                
                     <li><a href="/digital-fabrication/final-project/jacquard/">Final Project</a></li>
                
                     <li><a href="/digital-fabrication/final-project/history/">History</a></li>
                
           </ul>
        </li>
        

        

        
        <li>Assignements
            <ul>
                
                    <li><a href="/digital-fabrication/assignements/computer-aided-design/">Computer aided design</a></li>
                
                    <li><a href="/digital-fabrication/assignements/project-management/">Project management</a></li>
                
            </ul>
        </li>
        



        
        <li>Diary
             <ul>
                
                     <li><a href="/digital-fabrication/diary/first-steps/">First steps</a></li>
                
                     <li><a href="/digital-fabrication/diary/travel-mechanics/">Travel of the Jacquard Mechanic machine</a></li>
                
           </ul>
        </li>
        


    </ul>
</nav>



 

    <h1>Final Project</h1>
    
    <p><img src="Prelle's-loom.jpg" alt="Loom Prelle&amp;rsquo;s workshop"></p>
<p>Last year, la Maison des Canuts, a small private museum on the hill of Croix Rousse offered me a Jacquard mechanic machine. It took some time, but I could organize a project to bring this mechanic back to life. I want to question the dynamics and our behavior towards technology and innovation. The political reasons behind the uprooting of our traditional and intangible knowledge and culture. For a year now, I have been planning this project with the Workshop Master of the Fablab in Aalto.</p>
<p>I decided to flirt with the other side and learn digital fabrication technics to bring my loom into the XXIst century. I will be replacing his usual punch card programming with a digital piloting device. The Jacquard mechanics machine  will be computerized while being operated by hand. While studying for the FabAcademy I will reflect and document the effects it has on my analog body and soul.</p>
<p>During my stay in Lyon, I could organize the shipping of the machine to Finland. I received a grant from the Design Department to this end and invested some personal funds.</p>
<p>Charlotte Nelis&rsquo;s representation of an Original Jacquard Mechanics Machine and loom
<img src="Charlotte-loom.jpg" alt="Charlotte Loom&amp;rsquo;s drawing"></p>
<p>HERE to come, my drawing of the digital piloting device.</p>


<footer>
    <p>&copy Elise Piquemal 2023 till eternity</p>

</footer>
